<header class="main-header">
  <div class="logo">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="assets/EventKey/assets/logo/favicon.jpeg" alt="Icon" width="100" height="100" class="me-2">
    </a>
    <h1 style="font-weight:bold; font-size:40px; color:white">EventKey</h1>
  </div>
  <nav class="nav-menu">
    <a href="#" (click)="loadComponent('home')">Home</a>
    <a href="#" (click)="loadComponent('about')">About Us</a>
    <div class="dropdown">
      <a class="dropdown-toggle" (click)="toggleDropdown()">Account</a>
      <div class="dropdown-menu" *ngIf="isDropdownVisible">
        <a href="#" (click)="loadComponent('profile')">Profile</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
</header>

<div class="dashboard-container">
  <aside class="sidebar">
    <ul>
      <li><a href="#" (click)="loadComponent('events_available')"> Events Available</a></li>
      <li><a href="#" (click)="loadComponent('previous_bookings')">Previous Bookings</a></li>
      <li><a href="#" (click)="loadComponent('saved_events')"> Saved Events</a></li>
      <li><a href="#" (click)="loadComponent('event_details')"> Event Details</a></li>
    </ul>
  </aside>

  <main class="dashboard-content">
    <router-outlet></router-outlet>
    <ng-container #dynamicComponentContainer></ng-container>
  </main>
</div>
