<!-- header.component.html -->
<header class="main-header">
  <!-- Logo Section -->
  <div class="logo">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="assets/EventKey/assets/logo/favicon.jpeg" alt="Icon" width="50" height="50" class="me-2">
    </a>
  </div>
  <!-- Dashboard Header with Welcome Text and Dropdown -->
  <div class="dashboard-header d-flex justify-content-between align-items-center w-100">
    <h1 class="welcome-text" style="font-size: 30px;">Welcome, {{ userName }}</h1>
    <div class="user-actions">

    </div>
  </div>

  <!-- Navigation Menu -->
  <nav class="nav-menu">
    <button (click)="loadComponent('home')">Home</button>
    <button (click)="loadComponent('about')">About Us</button>
    <button (click)="loadComponent('profile')">My Profile</button>
    <button (click)="logout()">Logout</button>
  </nav>
</header>


<!-- Sidebar -->
<div class="dashboard-container">
  <aside class="sidebar">
    <ul>
      <li><a href="#" (click)="loadComponent('events_available')"> Events Available</a></li>
      <li><a href="#" (click)="loadComponent('previous_bookings')">Previous Bookings</a></li>
      <li><a href="#" (click)="loadComponent('saved_events')"> Saved Events</a></li>
      <li><a href="#" (click)="loadComponent('event_details')"> Event Details</a></li>
    </ul>
  </aside>

  <!-- Main Content Area -->
  <main class="dashboard-content">
    <router-outlet></router-outlet>
    <ng-container #dynamicComponentContainer></ng-container>
  </main>
</div>
