body {
  margin-top: 50px;
  text-align: justify;
}

.form-label {
  color: black;
  font-size: 36px;
  font-weight: bold;
}

.form-check {
  font-size: 18px;
}

.form-control {
  border-radius: 8px;
}

.btn-secondary {
  font-size: 20px;
  border-radius: 8px;
}

.btn-primary {
  font-size: 20px;
  border-radius: 8px;
  padding: 12px 20px;
}

.d-flex {
  justify-content: space-between;
}

.mb-3 {
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-area {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
}

.navbar-nav .nav-item a {
  font-size: 15px;
  padding: 10px 15px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

  .navbar-nav .nav-item a:hover {
    color: #007bff;
  }
