.ticket-sales-container {
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates a responsive grid */
  gap: 20px; /* Adds space between cards */
  grid-auto-rows: 1fr; /* Ensures equal row height */
}

.event-card {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.event-title h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.revenue-details {
  margin-top: 20px;
}

canvas {
  width: 100%; /* Ensures the canvas takes the full width */
  height: 250px; /* Adjust the height of the chart */
  margin-bottom: 20px;
}
